.DS_Store
.*.*.swp
.*.*.swo
.*.swp
.*.swo
*.cmx
*.cmi
*.cmo
*.cma
*.cmxa
*.cmx
*.cmxs
*.o
*.obj
*.a
Llama
Parser.output
.depend
Parser.ml
Parser.mli
Lexer.ml
dosbox.conf
*.com
*.dll
*.exe
*.aux
*.log
*.out
*.pyg
*.*.gz
*.toc
/run/*
!/run/llama.lib
!/run/run.bat
!/run/run.sh
